# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [2]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

sum = 0
for sqrt_value in generator:
    sum += sqrt_value

print(sum)

generator = square_root_generator(13)

for sqrt_value in generator:
    print(sqrt_value)

8.382332347441762
1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [3]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [4]:
#Install the dependencies
# %%capture
!pip install 'dlt[duckdb]'

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: dlt[duckdb] in /Users/cris/Library/Python/3.9/lib/python/site-packages (0.4.4)
Requirement already satisfied: PyYAML>=5.4.1 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (6.0.1)
Requirement already satisfied: SQLAlchemy>=1.4.0 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (2.0.20)
Requirement already satisfied: astunparse>=1.6.3 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (1.6.3)
Requirement already satisfied: click>=7.1 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (8.1.7)
Requirement already satisfied: fsspec>=2022.4.0 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (2024.2.0)
Requirement already satisfied: gitpython>=3.1.29 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (3.1.41)
Requirement already satisfied: giturlparse>=0.10.0 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (0.12.0)
Requirement already satisfied: hexbytes>=0.2.2 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (1.0.0)
Requirement already satisfied: humanize>=4.4.0 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (4.9.0)
Requirement already satisfied: jsonpath-ng>=1.5.3 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (1.6.1)
Requirement already satisfied: makefun>=1.15.0 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (1.15.2)
Requirement already satisfied: orjson<=3.9.10,>=3.6.7 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (3.9.10)
Requirement already satisfied: packaging>=21.1 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (23.2)
Requirement already satisfied: pathvalidate>=2.5.2 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (3.2.0)
Requirement already satisfied: pendulum>=2.1.2 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (3.0.0)
Requirement already satisfied: pytz>=2022.6 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (2023.3.post1)
Requirement already satisfied: requests>=2.26.0 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (2.31.0)
Requirement already satisfied: requirements-parser>=0.5.0 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (0.5.0)
Requirement already satisfied: semver>=2.13.0 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (3.0.2)
Requirement already satisfied: setuptools>=65.6.0 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (69.0.3)
Requirement already satisfied: simplejson>=3.17.5 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (3.19.2)
Requirement already satisfied: tenacity>=8.0.2 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (8.2.3)
Requirement already satisfied: tomlkit>=0.11.3 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (0.12.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (4.7.1)
Requirement already satisfied: tzdata>=2022.1 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (2023.4)
Requirement already satisfied: duckdb<0.10.0,>=0.6.1 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from dlt[duckdb]) (0.9.2)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from astunparse>=1.6.3->dlt[duckdb]) (0.37.0)
Requirement already satisfied: six<2.0,>=1.6.1 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from astunparse>=1.6.3->dlt[duckdb]) (1.15.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from gitpython>=3.1.29->dlt[duckdb]) (4.0.11)
Requirement already satisfied: ply in /Users/cris/Library/Python/3.9/lib/python/site-packages (from jsonpath-ng>=1.5.3->dlt[duckdb]) (3.11)
Requirement already satisfied: python-dateutil>=2.6 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.8.2)
Requirement already satisfied: time-machine>=2.6.0 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.13.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from requests>=2.26.0->dlt[duckdb]) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from requests>=2.26.0->dlt[duckdb]) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from requests>=2.26.0->dlt[duckdb]) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from requests>=2.26.0->dlt[duckdb]) (2023.11.17)
Requirement already satisfied: types-setuptools>=57.0.0 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from requirements-parser>=0.5.0->dlt[duckdb]) (69.0.0.20240125)
Requirement already satisfied: smmap<6,>=3.0.1 in /Users/cris/Library/Python/3.9/lib/python/site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[duckdb]) (5.0.1)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip

In [5]:
import dlt

# load the first generator

generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='generators')

info = generators_pipeline.run(people_1(),
										table_name="http_download",
										write_disposition="replace")

print(info)

info = generators_pipeline.run(people_2(),
                               table_name="http_download",
                               write_disposition="append")

/Users/cris/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

Pipeline dlt_ipykernel_launcher load step completed in 0.21 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:////Users/cris/data-engineering-2024/dlt-workshop/dlt_ipykernel_launcher.duckdb location to store data
Load package 1708036227.0842292 is LOADED and contains no failed jobs

In [6]:
# let's see what we wrote

import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

print("\n\n\n http_download table below:")

people = conn.sql("SELECT * FROM http_download").df()
display(people)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ http_download       │
└─────────────────────┘

 http_download table below:

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A  1708036227.0842292  9X3JsYxNpxKRrg       None
1    2  Person_2   27  City_A  1708036227.0842292  e41WTjq8LWBEvQ       None
2    3  Person_3   28  City_A  1708036227.0842292  VVhIa9vBumOxVQ       None
3    4  Person_4   29  City_A  1708036227.0842292  C4D+Yj10UW/gig       None
4    5  Person_5   30  City_A  1708036227.0842292  BFk8SrxM6GENfA       None
5    3  Person_3   33  City_B   1708036227.699143  APqp5lqpoFU1KA      Job_3
6    4  Person_4   34  City_B   1708036227.699143  kt8IchGpd5L4sw      Job_4
7    5  Person_5   35  City_B   1708036227.699143  ndlkajbvVFt7og      Job_5
8    6  Person_6   36  City_B   1708036227.699143  ZMxY+qtJWuT39Q      Job_6
9    7  Person_7   37  City_B   1708036227.699143  oWmYI5Ro95e5WQ      Job_7
10   8  Person_8   38  City_B   1708036227.699143  Mmd40WSf2FCe5w      Job_8

In [7]:
AGE = conn.sql("SELECT sum(age) FROM http_download").df()
display(AGE)

   sum(age)
0     353.0

In [8]:
generators_pipeline.run(people_1(),
										table_name="http_overwrite",
										write_disposition="replace")

generators_pipeline.run(people_2(),
                        table_name="http_overwrite",
                        write_disposition="merge",
                        primary_key="id")

LoadInfo(pipeline=<dlt.pipeline.pipeline.Pipeline object at 0x11d484d00>, metrics={'1708036307.537811': [{'started_at': DateTime(2024, 2, 15, 22, 31, 47, 921028, tzinfo=Timezone('UTC')), 'finished_at': DateTime(2024, 2, 15, 22, 31, 48, 256286, tzinfo=Timezone('UTC'))}]}, destination_type='dlt.destinations.duckdb', destination_displayable_credentials='duckdb:////Users/cris/data-engineering-2024/dlt-workshop/dlt_ipykernel_launcher.duckdb', destination_name='duckdb', environment=None, staging_type=None, staging_name=None, staging_displayable_credentials=None, destination_fingerprint='', dataset_name='generators', loads_ids=['1708036307.537811'], load_packages=[LoadPackageInfo(load_id='1708036307.537811', package_path='/Users/cris/.dlt/pipelines/dlt_ipykernel_launcher/load/loaded/1708036307.537811', state='loaded', schema=Schema dlt_ipykernel_launcher at 4392064768, schema_update={'http_overwrite': {'name': 'http_overwrite', 'columns': {'occupation': {'name': 'occupation', 'data_type': 'text', 'nullable': True}}, 'write_disposition': 'merge', 'resource': 'http_overwrite', 'table_format': None}}, completed_at=DateTime(2024, 2, 15, 22, 31, 48, 243320, tzinfo=Timezone('UTC')), jobs={'completed_jobs': [LoadJobInfo(state='completed_jobs', file_path='/Users/cris/.dlt/pipelines/dlt_ipykernel_launcher/load/loaded/1708036307.537811/completed_jobs/http_overwrite.313cf7eb4b.0.sql', file_size=709, created_at=DateTime(2024, 2, 15, 22, 31, 47, 974938, tzinfo=Timezone('UTC')), elapsed=0.26838231086730957, job_file_info=ParsedLoadJobFileName(table_name='http_overwrite', file_id='313cf7eb4b', retry_count=0, file_format='sql'), failed_message=None), LoadJobInfo(state='completed_jobs', file_path='/Users/cris/.dlt/pipelines/dlt_ipykernel_launcher/load/loaded/1708036307.537811/completed_jobs/http_overwrite.2096474dcc.0.insert_values', file_size=336, created_at=DateTime(2024, 2, 15, 22, 31, 47, 561446, tzinfo=Timezone('UTC')), elapsed=0.6818737983703613, job_file_info=ParsedLoadJobFileName(table_name='http_overwrite', file_id='2096474dcc', retry_count=0, file_format='insert_values'), failed_message=None)], 'new_jobs': [], 'failed_jobs': [], 'started_jobs': []})], first_run=False)

In [9]:
people = conn.sql("SELECT * FROM http_overwrite").df()
display(people)

AGE = conn.sql("SELECT sum(age) FROM http_overwrite").df()
display(AGE)

   id      name  age    city       _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1708036306.948889  xKLAJ57XnI8UrQ       None
1   2  Person_2   27  City_A  1708036306.948889  vKLP2/SUwR4b9A       None
2   4  Person_4   34  City_B  1708036307.537811  j85WvuQ2PzLnsA      Job_4
3   5  Person_5   35  City_B  1708036307.537811  vF0AkXWFfv1mWQ      Job_5
4   3  Person_3   33  City_B  1708036307.537811  yC9mdu2OeK1haw      Job_3
5   6  Person_6   36  City_B  1708036307.537811  D4XTfsngwNzERg      Job_6
6   7  Person_7   37  City_B  1708036307.537811  9P+zQazUeYPMnA      Job_7
7   8  Person_8   38  City_B  1708036307.537811  nTQYmAFF4A08gw      Job_8

   sum(age)
0     266.0